image: 172.16.2.182:5000/docker:stable

stages:
  - build

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2

services:
  - name: 172.16.2.182:5000/docker:dind
    command: ["--insecure-registry=172.16.2.182:5000"]
    alias: docker

build:
  stage: build
  cache:
    paths:
      - node_modules/
  script:
    - docker run --rm 
      -v "$PWD":/opt/frontend-admin-retail
      -w /opt/frontend-admin-retail "172.16.2.182:5000/cnpm:6.1.0"
      /bin/bash -c "cnpm install; npm run build:prod"
    - docker build -t frontend-admin-retail .
    - docker tag "frontend-admin-retail" "172.16.2.182:5000/frontend-admin-retail:$CI_COMMIT_REF_NAME"
    - docker push "172.16.2.182:5000/frontend-admin-retail:$CI_COMMIT_REF_NAME"
  
deploy_test:
  stage: deploy
  script:
    - export DOCKER_HOST=tcp://172.16.2.182:2375/
    - docker stop frontend-admin-retail || true
    - docker image rm "172.16.2.182:5000/frontend-admin-retail:$CI_COMMIT_REF_NAME" || true
    - docker run --rm --detach --name frontend-admin-retail -p 8080:80 "172.16.2.182:5000/frontend-admin-retail:$CI_COMMIT_REF_NAME"
  only:
    - master

deploy_stage:
  stage: deploy
  script:
    - export DOCKER_HOST=tcp://172.16.2.182:2375/
    - docker stop frontend-admin-retail || true
    - docker image rm "172.16.2.182:5000/frontend-admin-retail:$CI_COMMIT_REF_NAME" || true
    - docker run --rm --detach --name frontend-admin-retail -p 8080:80 "172.16.2.182:5000/frontend-admin-retail:$CI_COMMIT_REF_NAME"
  only:
    - stage