.app-container {
  .config-haeder {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img{
      height: 25px;
      margin: 0px 15px;
    }
    .item {
      height: 35px;
      border-radius: 3px;
      line-height: 35px;
      padding: 0px 10px;
      background-color: #062f48;
      color: #418aaa;
      font-size: 1rem;
      i {
        margin-right: 5px;
      }
    }

    .active {
      background-color: #064663;
      color: #71dcff;
    }
  }

}
.config{
  width: 100%;
  .header{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .el-button--text{
    border-color: transparent!important;
  }
  .el-form-item{
    margin-bottom: 0px;
  }
  .pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.box-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid rgba(113, 220, 255, 0.3);
  position: relative;
  background: #082849;
  padding: 10px;
  box-sizing: border-box;
}
