@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import "./font/iconfont.css";
//@import "./report.scss";
body {
	margin: 0;
	padding: 0;
  height: 100%;
  background: $bgColor;
  color:#9fe7ff;
  //text-shadow: 1px 1px 1px $bgColor;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px $bgColor inset;
	border: 1px solid $menuBg!important;
	color: $menuText;
}
label {
  font-weight: 700;
}
img.error{
	opacity: .3;
}
html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.flex{
  display: flex;
  .col{
    margin-right: 10px;
  }
}
.mg-bot20{
  margin-bottom: 20px;
}
.perview-warp{
  background-color: $bgColor;
}
.chart-card-item{
  width: 100%;
  //min-height: 300px;
  height: 100%;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.table-head-btns{
  margin-bottom: 20px;
}
// main-container global css
.app-container {
background: $menuBg;
  padding: 20px;
}
.info-tips{color:#c3aa70;text-align: left;display: block; margin: 5px 0}
.rel{position: relative}
.abs{position: absolute}
.abs-center{left:0;right:0;bottom:0;top:0;margin: auto}
.no-padding{padding: 0!important;}
.nav-page{text-align: center; margin-top: 20px;}
.menu-wrapper.nest-menu{
  li>span{
    padding-left: 10px;
  }
}
.navbar {
	height: 50px;
	overflow: hidden;
	position: relative;
	background: #0a2949;
	color: #71dcff;
	fill: #71dcff;
	.head-storelist {
		float: left;
		margin-right: 10px;
		vertical-align: middle;
		.el-input__inner {
			font-size: 14px;
			background-color: $menuBg !important;
		  border: none;
			border-radius: 0;
			border-bottom:1px solid $menuText !important;
			height: 30px;
			line-height: 30px;
		}
	}
	.avatar-wrapper {
		span {
			padding-left: 3px;
		}
	}
	.hamburger-container {
		line-height: 46px;
		height: 100%;
		float: left;
		cursor: pointer;
		transition: background .3s;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			background: rgba(0, 0, 0, .025)
		}
	}
	i {
		color: #71dcff;
	}
	.breadcrumb-container {
		float: left;
	}

	.right-menu {
		float: right;
		height: 100%;
		margin-right: 10px;
		line-height: 50px;
		&:focus {
			outline: none;
		}

		.right-menu-item {
			display: inline-block;
			padding: 0 8px;
			height: 100%;
			font-size: 18px;
			vertical-align: text-bottom;

			&.hover-effect {
				cursor: pointer;
				transition: background .3s;

				&:hover {
					background: rgba(0, 0, 0, .025)
				}
			}
		}
	}
}
.echarts{
	padding: 10px;
}
.app-container{
	margin-top: 20px;
}
.perview-warp{
  position: relative;
  cursor:crosshair;
  canvas{
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 2;
  }
  img{ width: 100%;vertical-align: middle}
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.color-active{
	color: $menuActiveText;
}
.el-date-table td.disabled div{
  background-color: #02050a;
    opacity: 1;
    cursor: not-allowed;
    color: #434548;
}
.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div{
  background-color: #12c9dc;
}
.el-picker-panel__icon-btn {
  font-size: 14px;
  color: #0874e4;
}

