@import './variables.scss';
.layoutTitle{
	display: flex;
	justify-content: space-between;
}
.app-container{
	padding: 0;
}
//.el-row{
//	width: 100%;
//}
.report-margin{
    margin-top: 20px;
}
.report-line{
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid $borderColor;
    position: relative;
    background:$menuBg;
	  box-shadow: 0 1px 1px 1px #000;
}
.box-chart{}
.echarts{ padding-bottom: 20px}
.full-chart{

}
.top{
	.report-line{
		padding: 20px 0;
	}
}
.middle{
	.report-line{
		padding: 0;
	}
}
.report-title{
    font-size: .8rem;
    color: #71dcff;
}
.report-num{
    font-size: 2rem;
    line-height: 2.4rem;
}
.report-small{
    font-size: .8rem;
    color: #56b327;
}
.report-gang{
    width: 100%;
	  font-size: 15px;
    height: 40px;
    border-bottom: 1px solid $borderColor;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding:0 10px;
    justify-content: space-between;
	.el-button--default{
		span{
			color: $borderColor!important;
		}
	}
}
.report-tip{
    position: absolute;
    right: 3%;
    top: 8%;
}
.el-tooltip__popper.is-dark{
    background: #1a2e49;
    border: 1px solid rgba(113,220,255,.3);
    color: #71dcff;
}
.el-tooltip__popper{
    padding: 5px;
}
.queryConditions{
	position: absolute;
	right: 4%;
	top: 18px;
}
.input,select,textarea,.el-input__inner,.el-message--error,textarea {
	border-radius: 0;
	border: 1px solid rgba(113,220,255,0.30);
	-moz-box-shadow: inset 0 0 6px rgba(113,220,255,0.30);
	-webkit-box-shadow: inset 0 0 6px rgba(113,220,255,0.30);
	box-shadow: inset 0 0 6px rgba(113,220,255,0.30);
}
