@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1560588070999'); /* IE9 */
  src: url('iconfont.eot?t=1560588070999#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABmQAAAJWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgpQZwE2AiQDDAsIAAQgBYRtBzMbqgUR1Yt7sr8ld4Jle3H4I8HmrBfpphFy6TSUuXDf1eempj/qQi1NXyxFhiLpMfFQvx+/s/fuk2+eVIgMyaySVBOJStYEqREiITHdo1jIrwGqgWQGQAIy/ydAvX6vqCwgTlj6/PyBNt9v22Ppa6gLCYu/iifRdsAOfPfG+JKqX8NlgtgIKk6kfJ7L6Y2tB9L6luW0pvWiscbzMQETDGxPPIqsRALxBt1FjEr6ek5g1Ioj4vzmdLV6CawLxNMyV1ZvxaUsSr3QThxN8U6jL29KvOXfj7+LnqKpwNbLT9aZdfqHVwO3KCFBiE83qDiCJO5M5q+popCrUXcu17ZSKFelhrm597Yf/eMVogWax8FeXCj8gPUEP65AARW0SExiKWbnM0WpCWfdf0+fjHP0+Wtyle0Y2tqt1UMtbck9MFS+0sh/QyDYOebmx2MJPpUoOpS2BelfFQh+jWXjUPY24KvZmrF5DFbdwVzBaB8yAOFZ3497FzY3E3oLGkVnGVVvi0z2CBpjjqLVO4VRhy6dHjPnmSpyBAdeRAjT3qOY9AHVtI9kst/QWPQfremoGHUl5q4csxNcOVoyKsEMkj+UKXUa+WUkWs+YD41i08ZVd+S+TEHkh25pix3yFTv6Tx6LaNBMLWyi17BpCAxThan4hYhZBIGeepOfUmuNrCWjEswg+UOZUqfpZBl5nz9jPjSKF9p2hnfkvpweIj/cQG7d3aa2X1HSf/JYRINmamETLcKmITDTiypMxS8OZM0igOP0Vrf/vLf9gaaiC3BHtUvUSF5G384ZjGUB') format('woff2'),
  url('iconfont.woff?t=1560588070999') format('woff'),
  url('iconfont.ttf?t=1560588070999') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1560588070999#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e62b";
}

.icon-up:before {
  content: "\e688";
}

